---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32">
          <div class="space-y-4 sm:space-y-12">
               <H1> Who am I? </H1>

               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    I'm
                    <span class="underline underline-offset-4 decoration-zinc-400 hover:text-zinc-50 hover:decoration-zinc-200">
                         Samuel Bernardo
                    </span>
                    a developer who has been studying and working in the software development area since mid-2022, I currently work as a fullstack developer. I have always worked with the javascript stack, having Node as my preferred tool because it is for backend development, an area that I like to work in because it involves more the structural and technical parts with concepts of clean architecture and design patterns. Some characteristics that can highlight me are communication, fast learning, adaptability and continuous study.

                     
               </p>
          </div>

          <div class="space-y-2 text-base sm:text-lg">
               <h2 class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500">Tools</h2>

               <ul class="px-4 text-zinc-400 list-disc list-outside">
                    <li>Typescript</li>
                    <li>NodeJS</li>
                    <li>React.js</li>
                    <li>Express</li>
                    <li>Tailwind</li>
                    <li>NestJS</li>
                    <li>PostgreSQL</li>
               </ul>
          </div>
     </div>
</InfoLayout>
